# Ignore the node modules folder (created by 'npm install').
node_modules

# We absolutely don't want to have the .sass-cache in git.
.sass-cache

# Ignore development files
imagesDev
libraries

# Ignore OS files
.DS_Store

# Ignore IDE files
.idea/